<div class="content_header">
  <div class="header-main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/image/logo.png" height="80" width="230" alt="logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Trang chủ<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Giới thiệu</a>
          <a class="nav-item nav-link" href="#">Sản phẩm</a>
          <a class="nav-item nav-link" href="#">Tin tức</a>
          <a class="nav-item nav-link" href="#">Đăng nhập</a>
          <a class="nav-item nav-link" href="#">Đăng ký</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="breadcrumb_background margin-bottom-40">
  <div class="title_full">
    <div class="container a-center">
      <p class="title_page">Thực phẩm sạch cho mọi nhà!</p>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Tên thực phẩm" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
